<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Réinitialisation de votre mot de passe</title>
</head>
<body>
<p > Bonjour <span th:text="${username}"> user </span>, </p>
<p>
    Vous avez demandé la réinitialisation de votre mot de passe sur HireMe.
    Cliquez sur le bouton ci-dessous pour en définir un nouveau.
</p>
<a href="#" th:href="${confirmedUrl}" >Réinitialiser mon mot de passe</a>
<p>
    Si vous n’êtes pas à l’origine de cette demande, vous pouvez ignorer cet email.
</p>
</body>
</html>